@import "../../../../styles/components/button", "../../../../styles/variable";

.root,
.root_round {
  @include variant;

  & > .pending {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    border: {
      color: var(--accent-color);
      style: solid;
      radius: 50%;
      left-color: transparent !important;
    }
    transform: rotate(0deg) translate(-50%, -50%);
    transform-origin: 0 0;
    animation: cycle 0.8s linear infinite;
  }
  @each $c in $color-types {
    &_#{$c} {
      @include variant(#{$c});

      & > .pending {
        border-color: var(--#{$c}-color);
      }
    }
  }

  &:disabled {
    background: var(--disabled-color);
    color: var(--text-disabled-color);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.root {
  @include btn;
  & > svg {
    font-size: 2rem;
    &:nth-child(1) {
      @include icon(start);
    }
    &:nth-child(2) {
      @include icon(end);
    }
  }

  & > .pending {
    border-width: 3px;
    height: 1.8em;
    width: 1.8em;
  }
}

.root_round {
  @include btn(round);

  & > .pending {
    border-width: 4px;
    height: 2.9em;
    width: 2.9em;
  }
}

@keyframes cycle {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
