@import "./styles/variable";
@import "./styles/mixins";

@font-face {
  @include font-face(
    "Rubik",
    "#{$rubik-font-path}/Rubik-Italic-VariableFont_wght.ttf",
    italic
  );
}

@font-face {
  @include font-face(
    "Rubik",
    "#{$rubik-font-path}/Rubik-VariableFont_wght.ttf"
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --disabled-color: hsla(0, 0%, 0%, 0.122);
  --danger-color: hsl(339, 100%, 48%);
  --danger-hover-color: hsl(339, 100%, 34%);
  --warning-color: hsl(36, 100%, 50%);
  --warning-hover-color: hsl(36, 100%, 35%);
  --success-color: hsl(122, 39%, 49%);
  --success-hover-color: hsl(123, 39%, 34%);
  --info-color: hsl(210, 79%, 46%);
  --info-hover-color: hsl(210, 79%, 32%);
  --accent-color: hsl(174, 100%, 29%);
  --accent-hover-color: hsl(174, 100%, 21%);
  --primary-color: hsl(187, 16%, 49%);
  --primary-hover-color: hsl(188, 25%, 88%);
  --secondary-color: hsl(262, 52%, 33%);
  --secondary-hover-color: hsl(262, 52%, 47%);
  --text-color: hsl(0, 0%, 7%);
  --text-alt-color: hsl(0, 0%, 100%);
  --text-disabled-color: hsla(0, 0%, 0%, 0.26);

  font-family: "Rubik", "Roboto", sans-serif;
  background: var(--text-alt-color);
  color: var(--text-color);
  @include transition;
}

body.dark {
  --disabled-color: hsla(0, 0%, 100%, 0.122);
  --danger-color: hsl(340, 82%, 76%);
  --danger-hover-color: hsl(340, 29%, 53%);
  --success-color: hsl(122, 37%, 74%);
  --success-hover-color: hsl(122, 14%, 52%);
  --info-color: hsl(207, 90%, 77%);
  --info-hover-color: hsl(207, 31%, 54%);
  --warning-color: hsl(36, 100%, 75%);
  --warning-hover-color: hsl(36, 37%, 52%);
  --accent-color: hsl(174, 42%, 65%);
  --accent-hover-color: hsl(174, 23%, 45%);
  --primary-color: hsl(0, 0%, 20%);
  --primary-hover-color: hsl(0, 0%, 33%);
  --secondary-color: hsl(0, 0%, 20%);
  --secondary-hover-color: hsl(0, 0%, 33%);
  --text-color: hsl(0, 0%, 100%);
  --text-alt-color: hsl(0, 0%, 7%);
  --text-disabled-color: hsla(0, 0%, 100%, 0.3);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--text-alt-color);
  @at-root #{&}-thumb {
    border-radius: 12px;
    background-color: var(--text-color);
    border: 2px solid var(--text-alt-color);
  }

  @at-root #{&}-track {
    border-radius: 3px;
    background-color: var(--text-alt-color);
  }
}

#main-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 210;
}

@import "./styles/utilities";
