@mixin transition($property: all, $duration: 250ms, $delay: 0ms) {
  transition: $property $duration cubic-bezier(0.4, 0, 0.2, 1) $delay;
}

@mixin font-face(
  $family,
  $file-path,
  $style: normal,
  $weight: normal,
  $format: truetype
) {
  font: {
    family: $family;
    style: $style;
    weight: $weight;
  }
  src: url($file-path) format($format);
}

@mixin flex-center($line: false) {
  @if $line {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin gap($value: 1) {
  $gap: $value * 8px;
  margin: {
    left: -1 * $gap;
    top: -1 * $gap;
  }
  width: calc(100% + #{$gap});

  & > * {
    margin: {
      left: $gap;
      top: $gap;
    }
  }
}

@mixin animation(
  $name,
  $count: "",
  $delay: "",
  $mode: "",
  $duration: 0.3s,
  $function: ease-in-out
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $function;
  }
  @if $count {
    animation-iteration-count: unquote($count);
  }
  @if $mode {
    animation-fill-mode: unquote($mode);
  }
  @if $delay {
    animation-delay: unquote($delay);
  }
}

@mixin frames($name) {
  @keyframes #{$name} {
    @content;
  }
}
// position with 100% height & width
@mixin position-all-weight($p: fixed, $index: 1300) {
  position: $p;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $index;
}

@mixin media($bp, $range: min, $unit: width) {
  @media (#{$range}-#{$unit}: $bp) {
    @content;
  }
}
