@mixin transition($property: all, $duration: 250ms, $delay: 0ms) {
  transition: $property $duration cubic-bezier(0.4, 0, 0.2, 1) $delay;
}

@mixin font-face(
  $family,
  $file-path,
  $style: normal,
  $weight: normal,
  $format: truetype
) {
  font: {
    family: $family;
    style: $style;
    weight: $weight;
  }
  src: url($file-path) format($format);
}
