$variants: info, danger, warning, success, primary, secondary, accent;

@each $v in $variants {
  .text-#{$v} {
    color: var(--#{$v}-color);
  }

  .bg-#{$v} {
    background: var(--#{$v}-color);
  }

  .border-#{$v} {
    border: 1px solid var(--#{$v}-color);
  }
}
