@import "../../../styles/functions", "../../../styles/mixins";

.Root {
  padding: spacing(2) 0;
  font-size: 1.6rem;
}

.Items {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include gap;
}

.Link {
  color: var(--text-color);
  background: var(--primary-hover-color);
  border-radius: spacing();
  padding: spacing(0.5) spacing();
  text-decoration: none;
  transition: background 0.3s ease-in-out;

  @at-root &:hover,
    .Active {
    background: var(--primary-color);
  }
}
