@import "../../../../styles/functions", "../../../../styles/variable";

.Root {
  display: inline-block;
  border-radius: spacing(1.25);
  color: var(--text-alt-color);
  font-size: 1.4rem;
  padding: spacing();
  @at-root .Floating {
    position: relative;
    padding: 0;
    @each $c in $color-types {
      &-#{$c} {
        background: var(--#{$c}-color);
      }
    }
    & > b {
      position: absolute;
      z-index: 10;

      color: inherit;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: spacing(1.25);
      padding: 0 spacing(0.75);
      font-size: 0.9em;
      min-width: spacing(2.5);
      height: spacing(2.5);
      @at-root .top {
        top: spacing(-0.75);
      }
      @at-root .bottom {
        bottom: spacing(-0.75);
      }
      @at-root .left {
        left: spacing(-0.75);
      }
      @at-root .right {
        right: spacing(-0.75);
      }
    }
  }
}
