@import "../variable", "../mixins", "../functions";

@mixin btn($type: normal) {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text: {
    align: center;
    decoration: none;
  }
  font-size: 1.6rem;
  box-shadow: $box-shadow;
  @if $type == round {
    border-radius: 50%;
    padding: spacing(1.25);
  } @else {
    padding: spacing(1.25) spacing(2);
    border-radius: spacing(0.5);
    text-transform: uppercase;
  }
  @include transition;
}

@mixin variant($type: accent) {
  @if $type == danger {
    background: var(--#{$type}-color);
    color: var(--text-alt-color);
  } @else if $type == warning {
    background: var(--#{$type}-color);
    color: var(--text-color);
  } @else if $type == success {
    background: var(--#{$type}-color);
    color: var(--text-alt-color);
  } @else if $type == info {
    background: var(--#{$type}-color);
    color: var(--text-alt-color);
  } @else {
    background: var(--accent-color);
    color: var(--text-alt-color);
  }
}

@mixin icon($pos: end) {
  @if $pos == start {
    margin-right: spacing();
  } @else if $pos == end {
    margin-left: spacing();
  }
}

@mixin hover($type: accent) {
  @if $type == danger {
    background: var(--#{$type}-hover-color);
  } @else if $type == warning {
    background: var(--#{$type}-hover-color);
  } @else if $type == success {
    background: var(--#{$type}-hover-color);
  } @else if $type == info {
    background: var(--#{$type}-hover-color);
  } @else {
    background: var(--accent-hover-color);
  }
}
