@import "../variable", "../mixins", "../functions";

@mixin btn($type: normal) {
  @include flex-center(true);
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  text: {
    align: center;
    decoration: none;
  }
  font-size: 1.6rem;
  box-shadow: $box-shadow;
  @if $type == round {
    border-radius: 50%;
    padding: spacing();
  } @else {
    padding: spacing() spacing(1.25);
    border-radius: spacing(0.5);
    text-transform: uppercase;
  }
  @include transition;
}

@mixin variant($type: accent) {
  background: var(--#{$type}-color);
  color: var(--text-alt-color);

  &:hover {
    background: var(--#{$type}-hover-color);
  }
}

@mixin icon($pos: end) {
  @if $pos == start {
    margin-right: spacing();
  } @else if $pos == end {
    margin-left: spacing();
  }
}
