@import "../../../styles/variable", "../../../styles/mixins";

.Root {
  @include flex-center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 1.6rem;
  user-select: none;
  font-weight: 900;
  color: var(--text-alt-color);

  & > img {
    width: 100%;
    object-fit: cover;
  }
}
