@import "../../../styles/functions", "../../../styles/mixins";

%dis-color {
  color: var(--disabled-color);
  font-size: 1.6rem;
}

.Root {
  background: var(--primary-hover-color);
  border-radius: spacing();
  padding: spacing(1.25);
  position: relative;
  display: flex;
  align-items: center;
}

.Content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include gap(1.25);

  & > p {
    @extend %dis-color;
  }

  & > span {
    display: inline-block;
    color: var(--accent-color);
    font-size: 1.6rem;

    @at-root &.Pill {
      background: var(--disabled-color);
      padding: spacing(0.5);
      display: inline-flex;
      align-items: center;
      border-radius: spacing(0.5);
      & > svg {
        background: var(--danger-color);
        color: var(--text-alt-color);
        font-size: inherit;
        cursor: pointer;
        margin-left: spacing(0.5);
        border-radius: inherit;
      }
    }
  }

  & > input {
    flex: 1;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background: transparent;
  }
}

.IconArrow {
  @include flex-center(true);
  font-size: 2rem;
  color: var(--accent-color);
  margin-left: spacing(2);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -#{spacing(0.875)};
    bottom: 0;
    width: spacing(0.25);
    background: var(--disabled-color);
  }
}

.Options {
  position: absolute;
  top: calc(100% + #{spacing(2)});
  left: 0;
  right: 0;
  border-radius: inherit;
  background: inherit;
  padding: spacing(0.5) 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;

  & > p {
    @extend %dis-color;
    padding: spacing(0.5) spacing();
  }
}

.Option {
  padding: spacing();
  font-size: 1.6rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  &:hover {
    background: var(--disabled-color);
  }
}
